{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == 'dashboard' %}class='selected'{% endif %}>
                    <a href="{% url 'dashboard' %}">My dashboard</a>
                </li>
                <li {% if section == 'images' %}class='selected'{% endif %}>
                    <a href="{% url 'images:list' %}">Images</a>
                </li>
                <li {% if section == 'people' %}class='selected'{% endif %}>
                    <a href="{% url 'user_list' %}">People</a>
                </li>
                <li {% if section == 'message' %}class='selected'{% endif %}>
                    <a href="{% url 'users_message' %}">Message</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username|capfirst }},
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>

    {% if messages %}
        <ul class="messages" id="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close" id="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        var close_message = document.getElementById('close');
        close_message.addEventListener('click',function(){
            document.getElementById('messages').style.display = 'none';
        })
    </script>

    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script>
        const csrftoken = Cookies.get('csrftoken');
        
        document.addEventListener('DOMContentLoaded', (event) => {
            // DOM loaded
            {% block domready %}
            {% endblock %}
        })
    </script>

</body>
</html>